/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        balanced_mod_tap: balanced_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCED_MOD_TAP";
            bindings = <&sk>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        shift_sym_layer_tap_dance: shift_sym_layer_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_SYM_LAYER_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&sk LEFT_SHIFT>, <&sl 1>;
        };

        dot_key_repeat_tap_dance: dot_key_repeat_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "DOT_KEY_REPEAT_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&key_repeat>;
        };

        hyper_delete: hyper_delete {
            compatible = "zmk,behavior-tap-dance";
            label = "HYPER_DELETE";
            #binding-cells = <0>;
            bindings =
                <&kp BACKSPACE>,
                <&kp LA(BACKSPACE)>,
                <&kp LG(BACKSPACE)>;
        };

        open_brackets: open_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "OPEN_BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp LESS_THAN>;
        };

        close_brackets: close_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "CLOSE_BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET>, <&kp GREATER_THAN>;
        };

        release_mod_tap: release_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RELEASE_MOD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-trigger-on-release;
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        sticky-adjust-layer {
            bindings = <&sl 4>;
            key-positions = <10 1>;
            layers = <0>;
            require-prior-idle-ms = <200>;
        };

        hyper_key {
            bindings = <&sk LS(LA(LC(LEFT_GUI)))>;
            key-positions = <4 3>;
        };

        braces {
            bindings = <&balanced_mod_tap RIGHT_BRACE LEFT_BRACE>;
            key-positions = <19 20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q                           &kp W                         &kp E                         &kp R                      &kp T                             &kp Y                            &kp U                      &kp I                          &kp O                          &kp P     &none
&none  &balanced_mod_tap LEFT_SHIFT A  &balanced_mod_tap LEFT_GUI S  &balanced_mod_tap LEFT_ALT D  &balanced_mod_tap LCTRL F  &balanced_mod_tap LEFT_SHIFT G    &balanced_mod_tap RIGHT_SHIFT H  &balanced_mod_tap RCTRL J  &balanced_mod_tap RIGHT_ALT K  &balanced_mod_tap RIGHT_GUI L  &kp SEMI  &none
&none  &kp Z                           &kp X                         &balanced_mod_tap LG(C) C     &release_mod_tap LG(V) V   &kp B                             &kp N                            &kp M                      &kp COMMA                      &dot_key_repeat_tap_dance      &kp FSLH  &none
                                                                     &sl 3                         &lt 1 SPACE                &lt 2 TAB                         &shift_sym_layer_tap_dance       &lt 2 ENTER                &hyper_delete
            >;
        };

        symbols_layer {
            bindings = <
&none  &none  &kp PERCENT  &kp PLUS   &kp DOUBLE_QUOTES  &kp EXCLAMATION    &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT       &kp TILDE     &none
&none  &none  &kp AT_SIGN  &kp EQUAL  &kp SINGLE_QUOTE   &kp AMPERSAND      &kp LESS_THAN   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GREATER_THAN  &kp COLON     &none
&none  &none  &kp HASH     &kp MINUS  &kp GRAVE          &kp PIPE           &kp UNDERSCORE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH     &kp QUESTION  &none
                           &none      &open_brackets     &close_brackets    &kp CARET       &kp DOLLAR            &none
            >;
        };

        nav_layer {
            bindings = <
&none  &none  &none  &kp LS(LG(LEFT_ARROW))  &kp LS(LG(RIGHT))  &none    &kp LA(LEFT)        &kp LA(RIGHT)  &kp LG(LEFT)  &kp LG(RIGHT)  &none  &none
&none  &none  &none  &kp LS(LA(LEFT_ARROW))  &kp LS(LA(RIGHT))  &none    &kp LEFT_ARROW      &kp DOWN       &kp UP_ARROW  &kp RIGHT      &none  &none
&none  &none  &none  &none                   &none              &none    &kp LC(LEFT_ARROW)  &kp LC(RIGHT)  &none         &none          &none  &none
                     &none                   &none              &none    &kp ESCAPE          &none          &none
            >;
        };

        numbers_layer {
            bindings = <
&none  &none  &none  &none  &none  &none              &none            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none  &none
&none  &none  &none  &none  &none  &none              &none            &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none  &none
&none  &none  &none  &none  &none  &none              &none            &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none  &none
                     &none  &none  &kp KP_NUMBER_0    &kp KP_NUMBER_0  &none            &none
            >;
        };

        adjust-layer {
            bindings = <
&none  &bt BT_SEL 1   &bt BT_SEL 2    &bt BT_SEL 3   &bt BT_SEL 4   &soft_off      &none  &none  &none  &none  &none  &none
&none  &bt BT_DISC 1  &bt BT_DISC 2   &bt BT_DISC 3  &bt BT_DISC 4  &none          &none  &none  &none  &none  &none  &none
&none  &bt BT_CLR     &bt BT_CLR_ALL  &none          &none          &bootloader    &none  &none  &none  &none  &none  &none
                                      &none          &none          &none          &none  &none  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
