/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W           &kp E           &kp R               &kp T               &kp Y              &kp U            &kp I            &kp O            &kp P     &none
&none  &kp A  &mt LEFT_GUI S  &mt LEFT_ALT D  &mt LEFT_CONTROL F  &mt LEFT_SHIFT G    &mt RIGHT_SHIFT H  &mt RCTRL J      &mt RIGHT_ALT K  &mt RIGHT_GUI L  &kp SEMI  &none
&none  &kp Z  &kp X           &kp C           &kp V               &kp B               &kp N              &kp M            &kp COMMA        &kp DOT          &kp FSLH  &none
                              &sl 3           &lt 1 TAB           &lt 2 SPACE         &lt 2 ENTER        &lt 1 BACKSPACE  &sl 3
            >;
        };

        symbols_layer {
            bindings = <
&none  &none  &kp PERCENT  &kp PLUS   &kp DOUBLE_QUOTES  &kp EXCLAMATION    &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT       &none         &none
&none  &none  &kp AT_SIGN  &kp EQUAL  &kp SINGLE_QUOTE   &kp AMPERSAND      &kp LESS_THAN   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GREATER_THAN  &kp COLON     &none
&none  &none  &kp HASH     &kp MINUS  &kp GRAVE          &kp PIPE           &kp UNDERSCORE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE         &kp QUESTION  &none
                           &none      &none              &none              &kp CARET       &kp DOLLAR            &none
            >;
        };

        nav_layer {
            bindings = <
&none  &none  &none  &kp LS(LG(LEFT_ARROW))  &kp LS(LG(RIGHT))  &none    &kp PAGE_UP         &kp PAGE_DOWN  &kp HOME      &kp END    &none  &none
&none  &none  &none  &kp LS(LA(LEFT_ARROW))  &kp LS(LA(RIGHT))  &none    &kp LEFT_ARROW      &kp DOWN       &kp UP_ARROW  &kp RIGHT  &none  &none
&none  &none  &none  &none                   &none              &none    &kp LC(LEFT_ARROW)  &kp LC(RIGHT)  &none         &none      &none  &none
                     &none                   &none              &none    &kp ESCAPE          &none          &none
            >;
        };

        numbers_layer {
            bindings = <
&none  &none  &none  &none  &none  &none              &none            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none  &none
&none  &none  &none  &none  &none  &none              &none            &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none  &none
&none  &none  &none  &none  &none  &none              &none            &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none  &none
                     &none  &none  &kp KP_NUMBER_0    &kp KP_NUMBER_0  &none            &none
            >;
        };
    };
};
